
<div class="container">
    <div class="header">
        <h1>Burger <span id="burgerPic"><a href=""></a></span> Devour!</h1>
        <h3>Try these delicious burgers at any time!</h3>
    </div>
    <hr>
    <div class="listOBurgers">

    </div>
    <div class="newBurger">
        
    </div>


</div>
